#toggle{
  font-size: 10vh;
  color: rgba(0, 77, 64, 0.5);
  position: fixed;
  top: 45vh;
  left: -25px;
  z-index: 10;
}

#toggle :hover{
  color: rgba(0, 105, 92, 0.3);
}

body{
  overflow-x: hidden;
}

#main{
  background-color: #e0f2f1;
  max-width: 100vw;
  margin: auto;
  /* text-align: left; */
}

@media (max-width: 600px) {
  .doc{
    width: 80vw;
  }
}

@media (min-width: 600px){
  .doc{
    width: 400px;
  }
}

.grid{
  display: inline-block;
}

.doc{
  margin: 20px;
  padding: 5px;
  display: inline-block;
  background-color: #80cbc4;
  box-shadow: 10px 10px #b2dfdb;
  text-align: left;
}

.jumbotron{
  /* box-shadow: 10px 10px #b2dfdb; */
  min-height: 95vh;
  width: 97vw;
  background-color: #e0f2f1 !important;
  text-align: center;
}

.footer{
  margin-top: 10px;
  width: 100%;
  text-align: right;
}


.sidepanel{
  background-color: #004d40;
}

.sidepanel h1{
  color: #26a69a;
}

.sidepanel a{
  color: #4db6ac;
}

.sidepanel a:hover, .dropdown-btn:hover {
  color: #b2dfdb;
}

.active {
  background-color: #00bfa5 !important;
  color: #000000 !important;
}

.sidepanel > .dropdown-container{
  background-color: #00695c;
}
.sidepanel > .dropdown-container > .dropdown-container{
  background-color: #00796b;
}
.dropdown-btn{
  background-color: inherit;
  color: #4db6ac;
}
