#toggle{
  font-size: 10vh;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 45vh;
  left: -25px;
}

body{
  overflow-x: hidden;
}

#main{
  background-color: #eceff1;
  max-width: 100vw;
}

.doc{
  width: 400px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  background-color: #455a64;
  box-shadow: 10px 10px;
}

.jumbotron{
  box-shadow: 10px 10px;
}
