:root{
  --alpha800: rgba(200, 200, 200, 0.3);
  --alpha900: rgba(236, 239, 241, 0.5);
}

html {
  scroll-behavior: smooth;
}

p, h1, h2, h6{
  font-family: 'Righteous', cursive !important;
}

a:hover{
  text-decoration: none !important;
}

#toggle{
  font-size: 10vh;
  color: var(--alpha900);
  position: fixed;
  top: 45vh;
  left: -25px;
  z-index: 10;
}

#toggle :hover{
  color: var(--alpha800);
}

html{
  background-color: #ffffff;
}

body{
  overflow-x: hidden;
  background-color: #ffffff;
}

#main{
  max-width: 100vw;
  margin: auto;
  background: linear-gradient(55deg, var(--a200) 0%, var(--a400) 51%, var(--a700) 85%);
}

@media (max-width: 600px) {
  .doc{
    width: 80vw;
  }
}

@media (min-width: 600px){
  .doc{
    width: 400px;
  }
}

.grid{
  display: inline-block;
}

.doc{
  margin: 20px;
  padding: 20px;
  display: inline-block;
  background-color: #ffffff;
  text-align: left;
  border-radius: 4px;
  box-shadow: 2px 7px 29px 0 rgba(2,136,209,.1);
}

.doc h2, .doc h6{
  color: #0288d1;
}

.doc pre{
  color: #00897b;
}

#home{
  min-height: 95vh;
  width: 97vw;
  background-image: url('../images/bg4.png');
  text-align: center;
  color: #ffffff
}

#da, #tom, .footer{
  background-image: url('../images/bg3.png');
  color: #ffffff
}

.jumbotron{
  width: 97vw;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  width: 100%;
  text-align: right;
  padding: 20px;
  background-color: #00838f;
  color: #0f0f0f;
}

.footer a{
  color: #000;
}

.footer a:hover{
  color: #f0f0f0;
  text-decoration: none;
}

.sidepanel{
  background-color: #eceff1;
}

.sidepanel h1{
  color: #454545;
}

.sidepanel a{
  color: #353535;
}

.dropdown-btn{
  background-color: inherit;
  color: #252525;
}

.sidepanel a:hover, .dropdown-btn:hover {
  color: #000000 ;
  background-color: #80cbc4;
}

.active {
  background-color: var(--c100) !important;
  color: #000000 !important;
}

.sidepanel > .dropdown-container{
  background-color: #dfe8ec;
}

.sidepanel > .dropdown-container > .dropdown-container{
  background-color: var(--c200);
}


.progress-container {
  background: #efefef;
}

#myBar {
  background: #00838f;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #42a5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #42a5f5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42a5f5;
}
